[2017-01-05 19:09] kristinashu opened #1 "Wireframes"
@hannahkane @mehan @mmmavis here is a very rough initial sketch of how the content layout could work. Depending how much content we end up having, we might get everything onto one page if we use tabs.

Please add comments and feedback in Redpen: https://redpen.io/yja7196949cc09f284

### Content suggestions
**Top banner**
Short intro about the challenge with Apply Now button (links to external form

[2017-01-05 19:11] kristinashu opened #2 "Determine URL"
Once we figure out where the site will live (on the new MLN site, as a stand alone site, on Learning site...) we will need to determine the URL.

[2017-01-05 19:17] kristinashu opened #3 "Benchmarks"
@mehan please add any examples of sites you think are working well. Could be sites that have the appropriate look and feel (friendly and approachable) or sites offering a similar service (grant submissions).

[2017-01-05 19:21] kristinashu opened #4 "Determine design direction"
We need to decide if we will use MoCo's new branding or if we will stick to MoFo's Unified Design style. This will determine color, font, photography, icon style... Most likely it will follow MoCo's new branding, if so, we need to find out what that is.

[2017-01-05 19:28] kristinashu opened #5 "Research Fluxx"
We plan to use [Fluxx](https://www.fluxx.io/) for form application submissions.

@mehan when you can, please confirm this is what we will be using. Also, is the intention that we will simply link to the Fluxx form from our site (or will it require integration into our site)?

cc @mmmavis

[2017-01-05 19:39] kristinashu opened #6 "Discourse Forum"
Sounds like we will use [Discourse](http://www.discourse.org/) for the discussion forum.

@mehan when you can, please confirm if we will in fact use discourse. Also, is the intention that we would simply link to the forum from our website?

cc @mmmavis

[2017-01-05 19:40] hannahkane commented on #1
Thanks, @kristinashu. This is very helpful for getting a conversation started. I love the idea of using tabs to keep this feeling like its own world—this could work whether it's a stand-alone site, or part of another site.

A few questions, perhaps mostly for @mehan:
 * Is "Apply Now" the right terminology? Are they filling out an application or are they submitting a project? Or do they first appl

[2017-01-05 19:41] hannahkane commented on #2
Suggest we don't use Learning or another existing site. I'd vote for a stand-alone, but waiting to hear product/marketing considerations from others.

cc @xmatthewx @simonwex

[2017-01-05 19:42] hannahkane commented on #4
cc @xmatthewx to provide guidance here

[2017-01-05 19:43] hannahkane commented on #5
Also want to confirm that Fluxx has been approved as a vendor. Has it passed security review?

[2017-01-05 21:49] kristinashu commented on #1
Added a little more detail: https://redpen.io/yja7196949cc09f284

I'm pretty sure there will be a lot more content than what is there but we'll adapt as we go.

![nsf-wireframe-02](https://cloud.githubusercontent.com/assets/1068783/21698799/ae1be934-d34d-11e6-8f90-dd106ca25ae6.png)

[2017-01-05 22:22] kristinashu opened #7 "Gather images"
Need to source images we could use for the site.

[2017-01-05 22:24] anmechung commented on #6
may want to check with @KGorr about using discourse as she's been working on consolidating and having less specific projects and more general topic areas.

[2017-01-05 22:28] anmechung commented on #7
@mehan - also may want to check with NSF for approved images?

[2017-01-06 00:48] mehan commented on #6
Lainie suggested that we might be able to add a sub-forum for the challenges to the MLN Discourse. I will confirm that with her and circle back. And yes, @kristinashu, our intent was that the site would simply link to that sub-forum, unless you guys recommend a deeper integration.

[2017-01-06 00:54] kristinashu commented on #6
Sounds great, thanks @mehan!

[2017-01-06 00:58] mehan commented on #5
@anmechung may be able to provide some insight regarding Fluxx's status re: approved vendor, security, etc.

At the moment, our intent is to use Fluxx for the application form but that's contingent on them being able to build out forms that suit our needs. We're working to schedule a call with them for next week, so I should hopefully have an answer for them by that time. I'll also confirm that th

[2017-01-06 01:01] anmechung commented on #5
@hannahkane Fluxx has been approved as vendor, passed security review, and contract signed.

[2017-01-06 01:26] mehan commented on #1
Really excited to see how much progress you've made in just a day, @kristinashu! I like the idea of a single page site and using things like drawers and tabs to collapse some of the content. If we still end up having a lot of text on the page, perhaps we can use anchor links or similar to make it a bit faster to navigate.

Here are a few answers to your questions, @hannahkane:

I think "submit a p

[2017-01-06 01:27] mehan commented on #7
@anmechung Yep, I will reach out and see--I think we'll at least want approved assets like the NSF logo, etc.

[2017-01-06 01:28] mehan commented on #7
Actually, it looks like all of those sort of assets [are here](https://www.nsf.gov/policies/logos.jsp).

[2017-01-06 04:06] anmechung commented on #1
Attending events are not a requirement to submit a project, but interested participants will need to apply (hopefully via Fluxx) and be selected to attend the events (assuming more than 100 people want to attend each event) with the ultimate goal of meeting potential teammates who might work on a project together for submission.  Given this, can/should events be made more prominent? Or may be some

[2017-01-06 17:49] hannahkane commented on #1
Thanks for the additional info, @anmechung and @mehan.

To clarify further, what process will be used to select people to attend the events? Is it something other than first come, first served?

[2017-01-06 18:01] anmechung commented on #1
Assuming we have more than 100 people wanting to attend, we will review applicants based on skill, expertise, interest, and try to bring together a diverse group of researchers, community members, technologists etc.  Does this help?

[2017-01-06 18:13] mehan commented on #1
+1 to everything @anmechung said; just wanted to add that while we will almost certainly use Fluxx for the actual project submission forms, the event registration may end up just being a Google Form/Eventbrite/etc. Functionally, though, all you guys should have to do is link to an external form.

[2017-01-06 18:24] hannahkane commented on #1
It sounds like @anmechung is right that Events likely need to be more prominent, at least leading up to them. In fact, perhaps the main CTA leading up to the events is to apply to attend. Maybe it's only after the events happen that the CTA becomes "Submit Your Project." Thoughts on this?

There's a related question in the [project timeline](https://github.com/MozillaFoundation/NSF-wireless-innova

[2017-01-06 19:12] mehan commented on #1
@hannahkane I think that makes a lot of sense!

[2017-01-06 19:33] kristinashu commented on #1
Sounds good! I've updated the wireframe: https://redpen.io/yja7196949cc09f284

CTA: "Apply Now" is now "submit a project"

Events:
  - added a note about making the main call to action "Attend an event" instead of "Submit a project" leading up to events
  - made Events the first tab (instead of FAQ) so it is more prominent and we an add an anchor link to it
  - added some rough copy about why peop

[2017-01-06 20:00] hannahkane commented on #1
Nice additions.

Definitely feels like we're stretching the limits of a single-page website. Once we have actual content, we may want to think about @mehan's idea of adding anchor links for navigability, or looking at other UX solutions. (I don't believe we have a component for anchor links; might be a good time to create one. @kristinashu - thoughts?)

Realizing that "Attend an Event" might be a

[2017-01-06 20:44] mehan commented on #1
@hannahkane How about "learn more at a launch event"?

[2017-01-06 20:48] mehan commented on #1
@kristinashu Not sure if this is something better handled at the logo design stage but one thing to consider is that as far as branding is concerned, the NSF is supposed to get top billing with Mozilla being secondary. The full name for the challenge is "The NSF Wireless Innovation for a Networked Society (WINS) Initiative, Powered by Mozilla". So we'll probably want the final branding to look mor

[2017-01-06 20:52] anmechung commented on #1
@hannahkane @mehan How about "Get started at launch event"

[2017-01-06 23:00] kristinashu commented on #1
I've added 4 new comps to redpen https://redpen.io/p/cx1e480fd9bb50a788

These show how we could divide content into multiple pages, if there is too much content for a one-page website.

[2017-01-06 23:06] mehan commented on #1
@anmechung "Get started at a launch event" sounds good to me.

New comps look great to me, @kristinashu!

[2017-01-06 23:07] kristinashu commented on #3
Similar challenge type site with a friendly look https://equalrating.com/

[2017-01-09 18:11] hannahkane opened #8 "DUE JAN 11: Sketch of content"
The content doesn't need to be final, or even near final, but we do need a sense of how much content there will be and what the calls-to-action will be

[2017-01-09 18:12] hannahkane opened #9 "DUE JAN 18: Content/copy for UX and style review"
Any photos or graphics that will need treatment should be also provided by this time

[2017-01-09 18:14] hannahkane opened #10 "DUE JAN 27: Conduct UX and style review of content/copy"
Content to be provided in #9

[2017-01-09 18:15] hannahkane commented on #1
Agreed, wireframes look good.

I think we're at a stopping point on this ticket, until we get content (see #8), so I'm adding a "blocked" label for now.

[2017-01-09 18:16] hannahkane opened #11 "Legal review of site"

[2017-01-09 23:40] mehan commented on #8
I just went ahead and tried to add some more context to each of the wiki pages to this effect. Let me know if that's helpful and if you guys need additional information at this stage.

One thing that occurred to me while I was sketching this out: we will likely want separate pages for things like the official challenge rules, legal information and privacy policy. I noticed that the Equal Rating Ch

[2017-01-10 17:59] hannahkane commented on #8
Thanks, @mehan.

Are we writing up Terms and a Privacy Policy specific to the challenges? If so, then yes, we should build those pages and link to them from the footer (the alternative would be to link to our standard Terms and Privacy docs).

[2017-01-10 18:58] kristinashu commented on #1
I've updated the one-page wireframe with the amount of suggested copy in the wiki https://redpen.io/yja7196949cc09f284

Seems like the one-page site might work but we still need a better sense of what the actually copy will be.

[2017-01-11 18:42] mehan commented on #8
@hannahkane I will check with Abigail and report back in this thread. My assumption is that we can use the standard privacy policy, though we will need a set of "challenge rules" that is unique to these challenges.

[2017-01-11 22:44] hannahkane commented on #8
OK, let's move this conversation to #11.

Closing this ticket since we have an initial sketch of content.

[2017-01-11 22:44] #8 closed, assigned to mehan

[2017-01-11 22:44] hannahkane commented on #11
Need to answer question about whether we're using standard T&C and Privacy Policy, and whether we need to update either.

cc @mehan @anmechung

[2017-01-11 22:45] hannahkane commented on #2
Confirmed we will use a stand-alone site. Will determine specific url via email, rather than here.

[2017-01-11 22:53] mehan commented on #11
I have put out an ask to Abigail and she is reviewing--will report back in this issue.

[2017-01-12 22:45] kristinashu commented on #7
Here are a few possible background images for the top of the page:

![01](https://cloud.githubusercontent.com/assets/1068783/21911411/8d622392-d8d5-11e6-9486-c85721f1058e.jpg)
![02](https://cloud.githubusercontent.com/assets/1068783/21911412/8d6279d2-d8d5-11e6-8ce6-fc1cf6036da0.jpg)
![03](https://cloud.githubusercontent.com/assets/1068783/21911413/8d62b1ea-d8d5-11e6-9613-8f252934430f.jpg)
![05](ht

[2017-01-12 23:48] mehan commented on #7
That first one feels the most "internetty" to me, if that makes sense? I like that direction.

[2017-01-13 01:05] hannahkane commented on #7
Agree with @mehan's point. I also like the third one, aesthetically.

I know we're just talking about the bg image here, but wanted to suggest that we don't break "Networked" and "Society," if we can avoid it.

[2017-01-13 18:18] hannahkane opened #12 "Footer links"
As per legal department, the links in the footer should point to:
- Legal: https://www.mozilla.org/en-US/about/legal/terms/mozilla/
- Privacy: https://www.mozilla.org/en-US/privacy/websites/
- Cookies: https://www.mozilla.org/en-US/privacy/websites/#cookies
- Challenge Rules: to be created on whatever domain we use for the challenge website

[2017-01-13 18:19] hannahkane commented on #12
cc @mehan

[2017-01-13 20:05] kristinashu commented on #4
We will be using MoCo's new brand since it's what MLN will be using. MoCo will be sharing the new direction this Wednesday. I'll be able to add/update color, font and some styling then.

[2017-01-13 20:54] kristinashu commented on #7
Great! We can use image 1 at the top of the page and then image 3 towards the bottom of the page (background for the call-to-action section).

I'll adjust the colors a little to brighten it up once we see the final moco rebrand colors this Wednesday.

[2017-01-13 20:54] #7 closed, assigned to kristinashu

[2017-01-13 20:59] kristinashu opened #13 "Design site"
Once initial copy and wireframes https://github.com/MozillaFoundation/NSF-wireless-innovation-challenge/issues/1 are done, we can design the site using:
- new moco branding
- images from https://github.com/MozillaFoundation/NSF-wireless-innovation-challenge/issues/7

[2017-01-13 21:00] kristinashu commented on #4
Closing this ticket and opened one for designing the site https://github.com/MozillaFoundation/NSF-wireless-innovation-challenge/issues/13

[2017-01-13 21:00] #4 closed, assigned to kristinashu

[2017-01-13 22:12] mehan commented on #2
Okay, it sounds like the top choice for URL is something in the vein of wirelesschallenge.mozilla.org.

[2017-01-13 22:24] mehan commented on #12
Yep, looks good. 👍

[2017-01-13 22:37] mehan commented on #6
The Discourse sub-forum is all set! Here's the link:

https://forum.learning.mozilla.org/c/nsf-wins

[2017-01-17 19:09] hannahkane commented on #1
The latest wireframes look really great, @kristinashu.

I'm hoping we can stick with the one-page layout. Biggest question for me now is whether the content in the accordion will be well served by that solution. If the "Rules and regulations" are quite long, for example, the accordion may not cut it.

[2017-01-18 21:47] hannahkane commented on #2
Great. @cadecairos - please see above. Feb 15 is our target date for launching this new web property which advertises two challenges we're producing in conjunction with the U.S. National Science Foundation.

Is there anything we need to do to ensure we're able to use this subdomain?

[2017-01-18 22:09] cadecairos commented on #2
@hannahkane How are we serving the site? dynamically on Heroku (django?) or is it a static website we can host on AWS S3?

In either case, I'll need to file a bugzilla bug to have a CNAME created for that subdomain on mozilla.org, but I can't do that until I understand how we're deploying it first.

[2017-01-18 23:53] #3 closed, assigned to nobody

[2017-01-18 23:57] kristinashu commented on #6
Excellent!

[2017-01-18 23:57] #6 closed, assigned to nobody

[2017-01-18 23:58] kristinashu commented on #12
Updating this to cover all footer links:

- Forum: https://forum.learning.mozilla.org/c/nsf-wins
- Legal: https://www.mozilla.org/en-US/about/legal/terms/mozilla/
- Privacy: https://www.mozilla.org/en-US/privacy/websites/
- Cookies: https://www.mozilla.org/en-US/privacy/websites/#cookies
- Challenge Rules: to be created on whatever domain we use for the challenge website (ideally, wirelesschalleng

[2017-01-19 00:02] kristinashu commented on #1
Updated the wireframes: https://redpen.io/p/cx1e480fd9bb50a788

- updated with the latest copy
- added a nav bar to scroll users down the page
- added a separate page for Rules & Regulations
- moved Forum and Rules & Regulations links to the footer

[2017-01-19 00:48] simonwex commented on #2
@gvn can let you know what the requirements are. I believe initially it'll be a static site generator.

[2017-01-19 18:49] gvn commented on #2
@simonwex I'm not sure since I haven't been involved thus far with this project. I need to be briefed to establish reqs.

[2017-01-19 19:40] kristinashu commented on #1
Few minor updates https://redpen.io/p/cx1e480fd9bb50a788

Closing this ticket and moving on to design stage https://github.com/MozillaFoundation/NSF-wireless-innovation-challenge/issues/13

[2017-01-19 19:40] #1 closed, assigned to kristinashu

[2017-01-19 19:42] kristinashu commented on #13
Wireframes are done: https://redpen.io/p/cx1e480fd9bb50a788

I will be designing the site based on the new branding and https://internethealthreport.org/v01/

[2017-01-19 21:34] hannahkane commented on #2
@gvn - hoping you and @mmmavis have time to connect on this soon. For your reference, in-progress comps are here: https://redpen.io/yja7196949cc09f284. Let me know if you need additional context beyond that.

[2017-01-19 21:46] gvn commented on #2
If we use the same architecture as MLN then it can go on Heroku, S3, or any static web hosting service. Based on the comps I'd say the MLN architecture is a good choice. What I see is mostly static, with a few bits of dynamic UI (accordions).

I'm leaning toward Heroku for hosting because that gives us the option of adding some Node based server side code should we need it...

[2017-01-19 21:47] hannahkane opened #14 "Collect email addresses before submission process is open"
Since we will likely have a multi-month gap between when the site launches and when we start accepting submissions, we thought it might be good to let users request to be notified via email.

This would just be a simple form to collect email addresses.

cc @simonwex - are we good to do this?

[2017-01-20 00:13] kristinashu commented on #13
I've incorporated the new branding into the site: https://redpen.io/p/cx1e480fd9bb50a788

cc @hannahkane @mehan

[2017-01-20 18:41] kristinashu opened #15 "Mock up a mobile view"

[2017-01-20 18:43] kristinashu opened #16 "UI: Files for dev"
**Comps**
https://redpen.io/p/cx1e480fd9bb50a788

**Copy doc**
copy is not final
https://docs.google.com/a/mozilla.com/document/d/14kJKOpZmDEpI213alSW0Bmho1JbEYDNMsWLb2vFQ7jk/edit?usp=sharing

**Sketch file**
https://drive.google.com/open?id=0B2irLVDJivhLQklvYXV0YWYyYVE

**Images and icons**
https://drive.google.com/open?id=0B2irLVDJivhLUE1oLWlFVXpLRUU
- hero image
- NSF + Mozilla logos
- 6 challe

[2017-01-20 18:58] kristinashu commented on #16
cc @mmmavis @gvn

[2017-01-23 18:42] ScottDowne commented on #14
I had a quick chat with @stephaniemcv around this, about if and how we can use Salesforce Marketing Cloud (SFMC) for this, using Journey Builder.

It looks like we can, and it looks like both the Internet Health Report already has a pattern for this, and it's modeled after Firefox subscription and interests.

I'm not 100% sure what all that means yet, but it what I do understand feels right.

[2017-01-23 19:18] kristinashu commented on #15
Done https://redpen.io/p/cx1e480fd9bb50a788

[2017-01-23 19:18] #15 closed, assigned to kristinashu

[2017-01-23 20:09] hannahkane commented on #14
^ sounds great, @ScottDowne. Thanks for investigating.

[2017-01-23 20:39] hannahkane commented on #5
Closing this; and will open tickets later to implement the Fluxx-handled submission process

[2017-01-23 20:39] #5 closed, assigned to nobody

[2017-01-23 22:05] kristinashu opened #17 "UI: Accordion Feature"
- a mofo bootstrap component
- Only one accordion can be open at a time
- When an accordion is opened, the URL should update (example: wirelesschallenge.mozilla.org/#timeline)

[2017-01-23 22:09] kristinashu opened #18 "UI: Colors"
New mozilla colors:
- yellow #FEEB34
- light purple #999CE5

Mofo bootstrap greys:
- #F1F1F1 nav bar bg
- #161616 body text, title text, button text, and thick title background dividing line
- #7A7A7A unselected nav bar text
- #D8D8D8 thin dividing line

[2017-01-23 22:19] kristinashu opened #19 "UI: nav bar"
Nav bar is sticky like on https://internethealthreport.org/v01/ but instead of linking to new pages, this one will just scroll the user further down the page.

Colors:
#F1F1F1 nav bar bg
#161616 selected text and hover state text
#7A7A7A unselected text

<img width="608" alt="screen shot 2017-01-23 at 2 18 04 pm" src="https://cloud.githubusercontent.com/assets/1068783/22225317/d171be72-e176-11e6-8

[2017-01-23 22:21] kristinashu opened #20 "UI: Hover states"
## In line text:
same as https://internethealthreport.org/v01/

regular <img width="668" alt="screen shot 2017-01-23 at 2 11 02 pm" src="https://cloud.githubusercontent.com/assets/1068783/22225067/dbf4f9d2-e175-11e6-947d-567bd1445054.png">

hover <img width="664" alt="screen shot 2017-01-23 at 2 11 05 pm" src="https://cloud.githubusercontent.com/assets/1068783/22225068/dbf6e292-e175-11e6-8e7a-0641

[2017-01-23 22:24] kristinashu opened #21 "UI: Footer"
Mofo bootstrap component but with added section about NSF

Logo is in assets folder https://drive.google.com/open?id=0B2irLVDJivhLUE1oLWlFVXpLRUU

Links:
- Forum: https://forum.learning.mozilla.org/c/nsf-wins
- Legal: https://www.mozilla.org/en-US/about/legal/terms/mozilla/
- Privacy: https://www.mozilla.org/en-US/privacy/websites/
- Cookies: https://www.mozilla.org/en-US/privacy/websites/#cookies

[2017-01-23 22:24] kristinashu commented on #12
Opened implementation ticket - UI: Footer #21

[2017-01-23 22:24] #12 closed, assigned to nobody

[2017-01-23 22:33] kristinashu opened #22 "Form: email reminder"
@mehan when you have a URL for the form link, please add it here for dev to implement.

<img width="598" alt="screen shot 2017-01-23 at 2 32 44 pm" src="https://cloud.githubusercontent.com/assets/1068783/22225836/e39d807a-e178-11e6-91db-399c6b6583bc.png">
<img width="598" alt="screen shot 2017-01-23 at 2 32 53 pm" src="https://cloud.githubusercontent.com/assets/1068783/22225837/e3a00a66-e178-11e6-

[2017-01-23 22:35] kristinashu opened #23 "Form: event application"
@mehan when you have the 4 URLs for the forms, please add them here for dev to implement.

[2017-01-23 22:48] kristinashu commented on #13
Design is done! I made a few minor updates based on our meeting with the moco design but they're very minimal.

Opened up a few tickets for dev to implement designs https://github.com/MozillaFoundation/NSF-wireless-innovation-challenge/issues

[2017-01-23 22:48] #13 closed, assigned to kristinashu

[2017-01-23 22:55] hannahkane commented on #22
@ScottDowne is thinking about the form in #14

[2017-01-23 22:56] hannahkane commented on #13
Thank you, @kristinashu. Really nice work on this!

[2017-01-24 00:57] mehan commented on #13
Agreed, the final design looks fantastic, thanks @kristinashu!

[2017-01-24 04:19] anmechung commented on #13
+1!  thanks @kristinashu

[2017-01-30 21:17] ScottDowne commented on #20
The actual hover state colours on https://internethealthreport.org/v01/open-innovation/ are #FEE601

Non hover is colour is #FEEB34

[2017-01-30 21:34] kristinashu commented on #20
Cool, go with that then.

[2017-01-31 19:21] mmmavis commented on #2
+1 on having it on Heroku. @cadecairos I'll create a ticket on DevOps repo.

[2017-01-31 19:25] mmmavis commented on #2
DevOps ticket created: https://github.com/MozillaFoundation/mofo-devops/issues/450

[2017-02-01 19:16] mmmavis commented on #21
@kristinashu we are missing the 🍪 icon still 😃

[2017-02-02 13:35] kristinashu commented on #21
@mmmavis it's in the main footer ticket https://github.com/mozilla/mofo-bootstrap/issues/92#issuecomment-272573805

[2017-02-02 18:09] ScottDowne opened #24 "QA for site"
@mehan @hannahkane @mmmavis We can put QA in here. Staging link is: <s>https://mozilla.github.io/nsf-challenge/</s> https://wirelesschallenge.mofostaging.net/
 - [x] Edit needed for copy in header image. "The NSF Wireless Innovation for a Networked Society (NSF WINS) Initiate is a series of challenges, powered by Mozilla, which seek projects that further innovation in a community wireless networks

[2017-02-02 18:19] hannahkane commented on #24
Many of my QA comments so far (see above) are about content, rather than code/implementation. If that's going to be too annoying to sort through, perhaps we could have separate QA tickets for content vs implementation?

[2017-02-02 19:52] ScottDowne commented on #24
@hannahkane nah, I'm fine with keeping it in here for content and implementation.

(I can help with copy changes too if things are slow for implementation changes ;))

[2017-02-03 00:49] mehan commented on #24
To answer the question relating to the first checkbox--that's exactly right, it should read "that further innovation in community wireless networks". Good catch on the "initiative" typo as well.

[2017-02-03 00:51] mehan commented on #24
I had originally had separate sections for the Design Prototype stage and the Working Prototype stage, so I had intended to have those link to anchors--I will remove those link placeholders when I revise that text.

[2017-02-03 00:53] mehan commented on #24
If possible, it would be great to drop an anchor tag on each of the section headers--that way, [judging criteria] can link to the "What we're looking for" section, etc.

Scott's comment: Right now I have three anchors, which are the items in the sticky nav. Happy to add more that are linkable and not in the sticky nav. I'm just not 100% on which section headers you're referring to. Is "What we're

[2017-02-03 00:55] mehan commented on #24
@ScottDowne I assume that the text that appears alongside these bullets will be populated from a markdown file?

![screen shot 2017-02-02 at feb 2 4 53 55 pm](https://cloud.githubusercontent.com/assets/1390212/22575091/5271101a-e968-11e6-904f-6abdf8a732ea.png)

If not, there is additional text that will need to be appended to each of those.

Scott's comment: Yup, the markdown for this should be in

[2017-02-03 00:57] mehan commented on #24
@ScottDowne The text in these tabs looks a bit off to me:

![screen shot 2017-02-02 at feb 2 4 55 27 pm](https://cloud.githubusercontent.com/assets/1390212/22575129/8f8ae87c-e968-11e6-9fb6-497287102757.png)

In Kristina's mock-ups, it was a lighter font weight and the text was centered--could we try something more like this?

![screen shot 2017-02-02 at feb 2 4 56 05 pm](https://cloud.githubuserco

[2017-02-03 01:01] mehan commented on #24
@ScottDowne Assuming the headers for the accordions are hard-coded, they'll need to be updated.

![screen shot 2017-02-02 at feb 2 4 59 02 pm](https://cloud.githubusercontent.com/assets/1390212/22575205/f1f847f2-e968-11e6-88a4-9a35b0564c4e.png)

The latest headers are as follows:

- Who can enter the challenges
- What to submit
- Timeline
- Judging and awards
- FAQ
- Getting Started

Scott's comme

[2017-02-03 01:02] mehan commented on #24
@ScottDowne The text in the "Find an event" and "Email sign up" buttons doesn't look properly vertically centered to me.

![screen shot 2017-02-02 at feb 2 5 01 29 pm](https://cloud.githubusercontent.com/assets/1390212/22575280/6432205e-e969-11e6-958a-954b7ed093f3.png)

Scott's comment: Should be fixed now.
- [x] info-box alignment issues

[2017-02-03 01:12] mehan commented on #24
@ScottDowne On mobile, these two containers ("Learn more..." and "Submissions...") look like they might be different sizes?

![img_3670](https://cloud.githubusercontent.com/assets/1390212/22575497/a9f2725a-e96a-11e6-83ce-63bff10dcfa1.PNG)

Scott's comment: Should be fixed now.
- [x] info-box alignment issues

[2017-02-03 01:15] mehan commented on #24
![screen shot 2017-02-02 at feb 2 5 13 39 pm](https://cloud.githubusercontent.com/assets/1390212/22575551/15532328-e96b-11e6-8b7a-e07f4a03b67c.png)

@ScottDowne The language in this section should read as follows:

"NSF is an independent U.S. government agency responsible for promoting science and engineering through research programs and education projects. Visit us at nsf.gov."

Scott's comment:

[2017-02-03 15:25] ScottDowne commented on #24
@mehan I'm going to comment to your feedback, by editing your comments. Hope that's alright :)

[2017-02-03 15:30] ScottDowne opened #25 "tab css issue"
Found in https://github.com/MozillaFoundation/NSF-wireless-innovation-challenge/issues/24

@ScottDowne The text in these tabs looks a bit off to me:

![screen shot 2017-02-02 at feb 2 4 55 27 pm](https://cloud.githubusercontent.com/assets/1390212/22575129/8f8ae87c-e968-11e6-9fb6-497287102757.png)

In Kristina's mock-ups, it was a lighter font weight and the text was centered--could we try somethin

[2017-02-03 16:03] ScottDowne commented on #25
Seems to be chrome and a recent safari issue.

I'm missing a single css prop, that isn't needed in FF.

Fix is in https://github.com/mozilla/nsf-challenge/pull/9

[2017-02-03 16:10] ScottDowne commented on #24
- [x] Cookies icon in the footer is not the right icon. I just used a placeholder. @kristinashu Is the cookie icon something I need to get from you?

[2017-02-03 16:40] hannahkane commented on #24
I believe the cookie icon is linked here: https://github.com/mozilla/mofo-bootstrap/issues/92#issuecomment-272573805

[2017-02-03 17:01] ScottDowne commented on #24
@hannahkane looks like the colour for that icon is off when compared to the others, the cookie icon is too dark. cc @kristinashu I think I need it to be white, that way I can darken it via opacity. Right now, I can darken it, but not lighten it, because I cannot set opacity to be 110%

[2017-02-03 17:06] ScottDowne commented on #24
Either that, or there is some css magic happening in the footer I havn't run into yet. Looking.

[2017-02-03 17:10] ScottDowne commented on #24
@kristinashu Ah, yes, the cookie icon is not solid white, but has opacity built in. This makes it impossible for me to make it solid white when on hover.

[2017-02-03 17:26] ScottDowne commented on #24
@kristinashu nvm, I think I can just edit the svg myself, it's super simple.

[2017-02-03 19:21] #9 closed, assigned to mehan

[2017-02-03 19:21] hannahkane commented on #10
Doing this as part of QA ticket ( #24 ), so closing here

[2017-02-03 19:21] #10 closed, assigned to kristinashu, hannahkane

[2017-02-03 20:21] ScottDowne commented on #25
Should be fixed now on https://mozilla.github.io/nsf-challenge/

[2017-02-03 20:21] #25 closed, assigned to nobody

[2017-02-03 20:24] ScottDowne commented on #24
OK, did a bunch of fixes.

I think there is only one markdown related issue left, and that's some weirdness @hannahkane pointed out where the content in the expander, if long, doesn't scroll to the new content.

I'm thinking up a solution to this.

[2017-02-06 17:48] kristinashu commented on #17
Minor styling tweaks could be done to staging site.
- plus icon should be smaller 18px, not 24px
- diving lines should be further apart 60px, not 54px
- font should be slightly bigger

Comp: https://redpen.io/zt134841c7aa9c7b27
<img width="1199" alt="screen shot 2017-02-06 at 9 43 09 am" src="https://cloud.githubusercontent.com/assets/1068783/22658938/bbfd2628-ec50-11e6-90d6-93037ce6809a.png">

St

[2017-02-06 17:53] kristinashu commented on #18
Just making sure all the body text, title text, and button text are the same color? The bottom buttons look like a slightly lighter grey, it should be the same color as the button at the top of the page.

<img width="207" alt="screen shot 2017-02-06 at 9 48 34 am" src="https://cloud.githubusercontent.com/assets/1068783/22659892/50474770-ec54-11e6-9d66-c73023425adb.png">

Other colors look good!

[2017-02-06 17:59] kristinashu commented on #19
Nav looks good, just wondering if it could 'animate' the scroll? So instead of jumping down the page, can it show the page scroll down/up? Not the nicest example but something like https://designshack.net/tutorialexamples/single-page-slider/

This is a nice-to-have enhancement.

[2017-02-06 18:01] kristinashu commented on #20
This looks done, closing!

[2017-02-06 18:01] #20 closed, assigned to nobody

[2017-02-06 18:02] kristinashu commented on #21
Footer looks good! Just needs the links above ^

[2017-02-06 18:04] kristinashu commented on #17
Also, missing the "When an accordion is opened, the URL should update (example: wirelesschallenge.mozilla.org/#timeline)" feature.

[2017-02-06 18:14] kristinashu opened #26 "UI: add button arrow"
Please add the button arrow. It should be the same arrow seen on https://internethealthreport.org/v01/web-literacy/
<img width="160" alt="screen shot 2017-02-06 at 10 09 46 am" src="https://cloud.githubusercontent.com/assets/1068783/22659963/7fa8ef82-ec54-11e6-94e4-7eb523accd76.png">

But on the button like this:
<img width="212" alt="screen shot 2017-02-06 at 10 09 57 am" src="https://cloud.githu

[2017-02-06 18:15] kristinashu commented on #19
Awesome, sounds like you've already done this!

[2017-02-06 18:17] kristinashu opened #27 "Add fav icon"
Icon mozilla's new fav icon: assets are in the folder https://drive.google.com/open?id=0B2irLVDJivhLOVpHTThnaDgtQXc

[2017-02-06 18:30] kristinashu opened #28 "Page width"
The page width on staging is wider than in the comps. The issue with this is that the sentences become difficult to read because there are too many words per line.

Ideally, all the content is narrower. For example, making the body text the same width as the 4 event images on staging site.
<img width="1411" alt="screen shot 2017-02-06 at 10 24 52 am" src="https://cloud.githubusercontent.com/assets

[2017-02-06 18:32] kristinashu opened #29 "QA: Fira isn't loading in some places"
Looks like Fira isn't showing up in the top button and the tab titles:

<img width="189" alt="screen shot 2017-02-06 at 10 31 24 am" src="https://cloud.githubusercontent.com/assets/1068783/22660739/862bd722-ec57-11e6-8f73-acc558595a82.png">
<img width="1212" alt="screen shot 2017-02-06 at 10 31 20 am" src="https://cloud.githubusercontent.com/assets/1068783/22660738/8621ccbe-ec57-11e6-997f-a00594e8

[2017-02-06 18:38] kristinashu opened #30 "Font styling on mobile"
For narrower widths, larger font sizes need to be smaller.

Example with comp on the left and staging on right (body copy can stay the same size):
<img width="672" alt="screen shot 2017-02-06 at 10 34 19 am" src="https://cloud.githubusercontent.com/assets/1068783/22660897/0edf3064-ec58-11e6-8854-93ace5ef0c57.png">

[2017-02-06 18:40] kristinashu opened #31 "Event photo styling on mobile"
Event grid should be 2 up on mobile instead of 1 up (so reduce scroll length).

Example for the comp on the left and staging on the right.

<img width="671" alt="screen shot 2017-02-06 at 10 35 08 am" src="https://cloud.githubusercontent.com/assets/1068783/22660962/4a3798e0-ec58-11e6-87c2-4913fa14db1d.png">

[2017-02-06 18:42] ScottDowne commented on #21
Fixing in https://github.com/mozilla/nsf-challenge/pull/12

[2017-02-06 18:43] kristinashu opened #32 "Add link on Rules and Regulation page back to home page"
Yellow title text on Rules and Regulation page (https://mozilla.github.io/nsf-challenge/rules-and-regulations/) should link to home page (https://mozilla.github.io/nsf-challenge/).

<img width="1268" alt="screen shot 2017-02-06 at 10 40 36 am" src="https://cloud.githubusercontent.com/assets/1068783/22661065/c9274f24-ec58-11e6-9acd-c071cc6ce8a5.png">

[2017-02-06 18:44] ScottDowne commented on #19
Fixing in https://github.com/mozilla/nsf-challenge/pull/11

[2017-02-06 18:50] ScottDowne commented on #28
mofo-bootstrap is adding a content width for 1140px, seemingly. It's also never added a body text size, so I feel like that's coming from mofo bootstrap too.

@mmmavis thoughts?

[2017-02-06 18:53] kristinashu opened #33 "Add anchor link to "Find an Event" buttons"
Both buttons should link to the Launch Event section (same functionality as if I clicked on "Events" in the nav).

<img width="176" alt="screen shot 2017-02-06 at 10 47 33 am" src="https://cloud.githubusercontent.com/assets/1068783/22661339/dde1f918-ec59-11e6-9978-c404c267d3ea.png">
<img width="338" alt="screen shot 2017-02-06 at 10 47 38 am" src="https://cloud.githubusercontent.com/assets/1068783

[2017-02-06 18:58] kristinashu opened #34 "URL should update as user scrolls down the page"
Sorry, I didn't list this as a requirement but I think the URL should update as the user scrolls through each main section (about, events, details)

Example on staging (the URL should be https://mozilla.github.io/nsf-challenge/#details):

<img width="1329" alt="screen shot 2017-02-06 at 10 44 51 am" src="https://cloud.githubusercontent.com/assets/1068783/22661618/dd0165d2-ec5a-11e6-9085-721e4b1e64

[2017-02-06 19:01] kristinashu commented on #19
Cool!

Right now clicking on "About" scroll the user to the top of the body text. I think it would be better if it linked to the very top of the page (like https://mozilla.github.io/nsf-challenge/). Is that doable? Make sense?

[2017-02-06 19:40] ScottDowne commented on #19
Fixing the scroll to top for about in https://github.com/mozilla/nsf-challenge/pull/14

[2017-02-06 19:42] ScottDowne commented on #18
Buttons get their colours from a variable, which is #feeb34 for non hover and #fee601 for hovers.

[2017-02-06 19:43] ScottDowne commented on #18
Ah, text colours. My bad. Checking.

[2017-02-06 19:44] kristinashu commented on #18
Yeah, I mean that these two buttons should look the same:

<img width="197" alt="screen shot 2017-02-06 at 11 42 58 am" src="https://cloud.githubusercontent.com/assets/1068783/22663449/7a4d6506-ec61-11e6-88c0-67da0d1731fe.png">
<img width="183" alt="screen shot 2017-02-06 at 11 43 02 am" src="https://cloud.githubusercontent.com/assets/1068783/22663450/7a6e96cc-ec61-11e6-8b46-38e85f9ab7ed.png">

Bu

[2017-02-06 19:55] ScottDowne commented on #18
Fixing in https://github.com/mozilla/nsf-challenge/pull/15

[2017-02-06 20:38] ScottDowne commented on #21
Footer links landed. (not sure if on staging yet, the way we do that is changing)

[2017-02-06 20:38] #21 closed, assigned to ScottDowne

[2017-02-06 20:53] ScottDowne commented on #18
Landed, not on staging/prod yet.

[2017-02-06 20:53] #18 closed, assigned to ScottDowne

[2017-02-06 21:06] ScottDowne commented on #32
Is there a hover state?

[2017-02-06 21:17] ScottDowne commented on #32
Fixing in https://github.com/mozilla/nsf-challenge/pull/19

[2017-02-06 21:33] #29 closed, assigned to ScottDowne

[2017-02-06 21:40] kristinashu commented on #32
Color change could be the same as the yellow CTA buttons (the slightly darker shade of yellow).

[2017-02-06 21:42] hannahkane commented on #24
Something for @mehan -
 - [x] remove "powered by Mozilla" clause from full sentence in header image since those words appear directly above

[2017-02-06 22:13] ScottDowne commented on #34
Fixing in https://github.com/mozilla/nsf-challenge/pull/20

[2017-02-06 22:18] mmmavis commented on #28
@kristinashu I checked the Sketch file - the width seems to be around 913px which doesn't match [any breakpoints Bootstrap uses](https://github.com/mozilla/mofo-bootstrap/blob/gh-pages/dest/css/mofo-bootstrap.css#L638-L675).  Do we want to set a custom container width for the NSF site? If so we can override the CSS so that the width is at max 913px.

[2017-02-06 22:42] kristinashu commented on #28
Width in sketch should be 940px but we should stick to a width listed in the bootstrap link. Could we use 992px? That would be better than want we are currently using (which I think is 1200px?).

[2017-02-06 23:33] ScottDowne commented on #28
I'm not invested enough into bootstrap to have much of an opinion, but for what it's worth I do have a pull request that makes the images smarter and kinda fit whatever space their in better.

Not sure if we'll use it or not. I kinda want to see how this conversation plays out.

[2017-02-07 00:31] mmmavis commented on #28
If it's just for this site I'm fine with overriding it. Otherwise I'd like to loop in other front end devs on this in case we want to lift the changes to `mofo-bootstrap`.

Another note - Bootstrap sets the container width to be [`960px` for devices that's between 992px-1200px wide](https://github.com/mozilla/mofo-bootstrap/blob/gh-pages/dest/css/mofo-bootstrap.css#L668-L671) (not 940px) and `1140

[2017-02-07 00:46] kristinashu commented on #28
Yes, I think that's what I meant to say. Can we use 960px for devices that are between 992px and up? So it would be 960px for devices between 992px-1200px wide and still 960px for devices wider than 1200px.

[2017-02-07 15:09] ScottDowne commented on #27
Fixing in https://github.com/mozilla/nsf-challenge/pull/22

[2017-02-07 15:16] ScottDowne commented on #28
I'm so confused.

Why don't we just set `max-width: 960px; width: 100%;` and do away with setting width based on media queries.

[2017-02-07 19:37] #30 closed, assigned to ScottDowne

[2017-02-07 19:48] ScottDowne commented on #19
Should be on staging now.

[2017-02-07 19:48] #19 closed, assigned to ScottDowne

[2017-02-07 19:49] ScottDowne commented on #32
Should be on staging now.

[2017-02-07 19:49] #32 closed, assigned to ScottDowne

[2017-02-07 20:00] ScottDowne commented on #33
Fixing in https://github.com/mozilla/nsf-challenge/pull/26

[2017-02-07 20:29] ScottDowne commented on #26
Fixing in https://github.com/mozilla/nsf-challenge/pull/27

[2017-02-07 20:57] ScottDowne commented on #27
Fixed and on staging

[2017-02-07 20:57] #27 closed, assigned to ScottDowne

[2017-02-08 02:24] mmmavis commented on #17
Hey @kristinashu , if we are also [updating URL as user scrolls](https://github.com/MozillaFoundation/NSF-wireless-innovation-challenge/issues/34), what do we do if user scrolls when an accordion section is open?

Since we have so many anchored elements on this page, I wonder if we should not update URL with main section anchor as user scrolls?

[2017-02-08 14:26] #26 closed, assigned to ScottDowne

[2017-02-08 14:26] #33 closed, assigned to ScottDowne

[2017-02-08 17:32] ScottDowne commented on #17
I tested by merging the two pull requests together, seems to work pretty well, actually. Nothing broken happens.

Two downsides I can see:
1. after opening and closing a accordion item, it clears the anchor instead of setting it back to details.
2. scrolling or clicking the nav, then going back to details with an accordion item open, doesn't reset the url with the open accordion item.

Pretty easy

[2017-02-08 20:48] ScottDowne commented on #31
Fixes in here: https://github.com/mozilla/nsf-challenge/pull/13

[2017-02-09 00:44] hannahkane commented on #24
- [ ] NSF logo in footer should link to nsf.gov

[2017-02-09 16:27] #31 closed, assigned to ScottDowne

[2017-02-09 18:26] hannahkane commented on #2
Closing this in lieu of the DevOps ticket.

[2017-02-09 18:26] #2 closed, assigned to nobody

[2017-02-09 18:27] hannahkane commented on #14
I think this is duped by #23, so closing

[2017-02-09 18:27] #14 closed, assigned to nobody

[2017-02-09 18:28] hannahkane commented on #16
Can we close this ticket?

[2017-02-09 18:49] kristinashu commented on #16
I think so!

[2017-02-09 18:49] #16 closed, assigned to nobody

[2017-02-09 18:51] hannahkane opened #35 "Determine proper behavior for expanding accordions and scrolling"
Within the Details section: if I, for example, expand the "How to enter the challenge" section, and then scroll down and expand the "Timeline" section, I will be scrolled down to the end of the section, which is confusing.

[2017-02-09 18:53] hannahkane commented on #24
Closing this ticket since all non-content issues have been addressed except for the accordion scrolling thing, which I've dropped into a new issue (#35).

@mehan - if the content issues here are useful for you to reference, feel free to re-open.

[2017-02-09 18:53] #24 closed, assigned to nobody

[2017-02-14 01:45] hannahkane commented on #22
@mehan - just a reminder that we're also waiting on this form. Let me know if I can help.

[2017-02-14 01:46] hannahkane commented on #35
@ScottDowne - do we need this ticket, or is this covered in #17?

[2017-02-14 14:27] ScottDowne commented on #35
Let's keep them both open. I have a pull request that is fixing everything in #17 without fixing this bug.

[2017-02-14 14:28] ScottDowne commented on #34
This landed in mozilla/nsf-challenge#20

[2017-02-14 14:28] #34 closed, assigned to ScottDowne

[2017-02-14 18:54] alanmoo commented on #28
The easiest way to handle something like this is to use the column system built into bootstrap. Anywhere there's a `.container` class, all children of it should be `.row` and all children of that should be `.col-` classes. With this approach, you can add in breakpoints based on number of columns pretty easily. They might not be specific number widths, but they'll be consistent across the site if y

[2017-02-17 19:23] kristinashu commented on #28
Noting that is also an issue on the science site https://github.com/mozilla/science.mozilla.org/issues/340

[2017-02-17 23:19] hannahkane opened #36 "Add cc license"
Legal requests the addition of this sentence to the site. @kristinashu - thoughts on how to best integrate this into the footer?

"This website is licensed under a [Creative Commons license](https://creativecommons.org/licenses/by-sa/3.0/deed.en), excluding portions of the content attributed to third parties."

[2017-02-17 23:21] hannahkane opened #37 "Link image credit to source"
The credit on the image we're using for the Raleigh event should link to the [source image](https://www.flickr.com/photos/bz3rk/7243110388/in/photolist-c33QnA-AUBT24-c33G5d-pAriiq-c33Gtq-pCs1jC-c33Ki7-pkZHtM-pkZfvj-pkYUUs-c33Gzm-c33J7u-2p9UiW-c33EA7-c33HXL-c33EdE-c33HNw-c33Fzo-c33Q5S-c33FFq-c33Jgd-c33Jph-fx8W1M-apyLRf-c33Ff3-c33Nfw-apw4Xa-apw2rr-apw46H-c33NFq-7tLsFL-c33Mnf-n3bDGZ-apyJpQ-apw5kR-7tL

[2017-02-17 23:23] hannahkane commented on #22
This turned out to be more complicated than expected, so we're going to remove the email sign-up.

[2017-02-17 23:23] #22 closed, assigned to nobody

[2017-02-17 23:24] kristinashu commented on #28
If I understand [this comment](https://github.com/mozilla/mofo-bootstrap/issues/106#issuecomment-280786845) correctly, I believe what we want to do here is "use 12 columns wide up to medium viewports, then 10 columns for large and XL." Does that make sense to everyone?

Also just to clarify, I'm talking about all the content, not only the text in the Events section.

[2017-02-17 23:25] hannahkane opened #38 "Remove email sign-up"
We've decided not to offer the email sign-up, at least initially.

1. Remove "Sign up for an email reminder" sentence from hero.

2. Remove email signup CTA in pre-footer, and I guess center the remaining CTA? cc @kristinashu

[2017-02-17 23:28] hannahkane commented on #11
Complete, though Abigail will likely want to look at the event pages once they're ready.

[2017-02-17 23:28] #11 closed, assigned to hannahkane

[2017-02-17 23:34] kristinashu commented on #28
Here's a screen cap of the sketch file:

<img width="954" alt="screen shot 2017-02-17 at 3 33 28 pm" src="https://cloud.githubusercontent.com/assets/1068783/23087123/8a69ce7a-f526-11e6-90f4-25a1c2791bf8.png">

[2017-02-17 23:42] kristinashu commented on #38
Two options:

Just centered it and put text onto one line.

<img width="1057" alt="screen shot 2017-02-17 at 3 31 16 pm" src="https://cloud.githubusercontent.com/assets/1068783/23087073/38894a7c-f526-11e6-8d69-6fd71fbca9b8.png">

Or put text and button onto one line, center them, and reduce purple background to about 140px in height.

<img width="1059" alt="screen shot 2017-02-17 at 3 37 10 pm" sr

[2017-02-17 23:43] kristinashu commented on #36
I guess stick it at the bottom...

<img width="1059" alt="screen shot 2017-02-17 at 3 37 10 pm" src="https://cloud.githubusercontent.com/assets/1068783/23087286/c9687814-f527-11e6-8aa8-9421aae7f127.png">

[2017-02-21 17:59] hannahkane commented on #38
Closing in lieu of https://github.com/mozilla/nsf-challenge/issues/57

[2017-02-21 17:59] #38 closed, assigned to ScottDowne

[2017-02-21 18:00] hannahkane commented on #37
Closing in lieu of https://github.com/mozilla/nsf-challenge/issues/58

[2017-02-21 18:00] #37 closed, assigned to ScottDowne

[2017-02-21 18:03] hannahkane commented on #36
Closing in lieu of https://github.com/mozilla/nsf-challenge/issues/59

[2017-02-21 18:03] #36 closed, assigned to nobody

[2017-02-21 18:06] hannahkane commented on #23
Closing in lieu of https://github.com/mozilla/nsf-challenge/issues/60

[2017-02-21 18:06] #23 closed, assigned to nobody

[2017-02-21 18:07] hannahkane commented on #17
handled in [code repo](https://github.com/mozilla/nsf-challenge)

[2017-02-21 18:07] #17 closed, assigned to ScottDowne

[2017-02-21 18:11] hannahkane commented on #28
Opened in [code repo](https://github.com/mozilla/nsf-challenge/issues/61). Closing here.

[2017-02-21 18:11] #28 closed, assigned to ScottDowne

[2017-02-21 18:11] hannahkane commented on #35
Fixed on staging.

[2017-02-21 18:11] #35 closed, assigned to nobody